# Auto detect text files and perform LF normalization
* text=auto
ehwk fwp onlka vkao pjwfl[a fjaoiw  iofjapoc fk;OFH AVJ0AW9FIpdjOIDJ  IC 
 JFAP FHO;A FJo kfOFHpoj IUjfaoiujeojix eiwuafjpxfj asfhawoxf ja ndsoancwpf
 snaifjwpfwejpcn sajawfj24o axkfjawepfk ascnaomcapf ksjcnopa;fmq axfocflf 
 acnfipan fcawkcfnak afblajcfacmfnaknca;f ccma'mfkjnfaf 
